.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.saturation-picker {
  height: 200px;
  position: relative;
}

.saturation-picker > div {
  border-radius: 6px;
}
.saturation-picker :global(.saturation-white) {
  border-radius: 5px;
}
.saturation-picker :global(.saturation-black) {
  border-radius: 4px;
}

.hue-picker {
  height: 40px;
  position: relative;
}

.hue-picker :global(.hue-horizontal) {
  border-radius: 5px;
  border: 2px solid #111;
  margin: -2px;
}

.hue-pointer {
  display: block;
  content: ' ';
  width: 12px;
  height: 48px;
  background: transparent;
  border: 3px solid white;
  border-radius: 9999px;
  margin-left: -6px;
  margin-top: -6px;
  box-shadow: 0 0 0 3px black;
}

.saturation-pointer {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border: 3px solid white;
  border-radius: 999px;
  margin-top: -8px;
  margin-left: -8px;
  pointer-events: none;
  box-shadow: 0 0 0 3px black;
}

.hue-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-wrapper {
  display: flex;
  text-align: center;
  text-transform: uppercase;
}

.input-wrapper > div {
  display: flex;
  flex-direction: column-reverse;
}

.input-wrapper input {
  margin-top: 10px;
  background: #eee;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

.input-wrapper > :global(div):nth-child(1) {
  margin-right: auto;
  width: 120px;
}

.input-wrapper > :global(div):nth-child(n + 2) {
  width: 80px;
  margin-left: 3px;
}

.input-wrapper label {
  font-size: 0.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #999;
  text-align: center;
}

.instructions {
  composes: instructions from '@/app/page.module.css';
}